[Unit]
Description=Group of OpenCHAMI-related services
Wants=coresmd-coredns.service boot-service.service smd.service tokensmith.service metadata-service.service coresmd-coredhcp.service step-ca.service haproxy.service
After=smd-init.service postgres.service coresmd-coredns.service

[Install]
WantedBy=multi-user.target
