[Unit]
Description=The postgres container
PartOf=openchami.target
Requires=openchami-internal-network.service openchami-jwt-internal-network.service postgres-data-volume.service
After=openchami-internal-network.service openchami-jwt-internal-network.service postgres-data-volume.service

[Container]
ContainerName=postgres
HostName=postgres
Image=docker.io/library/postgres:11.5-alpine

# Volumes
Volume=postgres-data.volume:/var/lib/postgresql/data
Volume=/etc/openchami/pg-init:/docker-entrypoint-initdb.d

# Environment Variables
EnvironmentFile=/etc/openchami/configs/openchami.env

# Secrets
Secret=postgres_password,type=env,target=POSTGRES_PASSWORD
Secret=smd_postgres_password,type=env,target=SMD_POSTGRES_PASSWORD
Secret=postgres_multiple_databases,type=env,target=POSTGRES_MULTIPLE_DATABASES



# Networks for the Container to use
Network=openchami-internal.network
Network=openchami-jwt-internal.network


# Unsupported by generator options
# Proxy settings
PodmanArgs=--http-proxy=false

[Service]
Restart=always
