[Unit]
Description=The smd container
PartOf=openchami.target

# Don’t start until its init has run (and propagate failures):
Requires=smd-init.service
After=smd-init.service tokensmith.service
Wants=smd-init.service tokensmith.service

[Container]
ContainerName=smd
HostName=smd
Image=ghcr.io/openchami/smd:v2.20.5

# Environment Variables
EnvironmentFile=/etc/openchami/configs/openchami.env

# Secrets
Secret=smd_postgres_password,type=env,target=SMD_DBPASS

# Networks for the Container to use
Network=openchami-internal.network

# Unsupported by generator options
# Proxy settings
PodmanArgs=--http-proxy=false

[Service]
Restart=always
